.nav-pc {
  display: none;

  @media (min-width: $breakPointPc) {
    position: sticky;
    top: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    width: 98vw;
    box-shadow: 10px 4px 5px 0 silver;

    background-color: $colorBackground;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 15px;
  }

  &__link {
    display: block;

    padding: 0 15px;

    color: #131313;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 76px;
    text-align: center;

    transition: transform 0.2s;

    &:hover {
      transform: scale(1.15);
    }
  }

}
